body {
	background-color: #FF8040;
}

main {
	width: 60%;
	margin-inline: auto;
	height: auto;
	padding-bottom: 30px;
	overflow-y: auto;
	text-align: center;
	background-color: #FFFF9B;
	padding: 10px;
	border: 2px solid grey;
}

.column {
	float: left;
	width: 50%;
}

#header {
	font-family: 'Patrick Hand';
}
