@font-face {
    font-family: 'Patrick Hand';
    src: url('/PatrickHand-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains Mono Medium';
    src: url('/JetBrainsMono-Medium.ttf');
}

@font-face {
    font-family: 'Lato Regular';
    src: url('/Lato-Regular.ttf');
}
